.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem;
}

.info {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
    margin-left: 1.5rem;
    &:first-child {
      margin-left: 0;
    }
  }

  span {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-left: 8px;
  }
}

.buttonPreview{
  max-width: 700px;
  margin: 0 auto;
  padding: 0 0;
  a{
    background: var(--gray-900);
    color: var(--black-500);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    border-radius: 0.25rem;
    font-weight: 700;
    margin-top: 5rem;
  }
}